<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Pro Football Metrics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Position Stat Tables
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/espn/player_stats/qb">QB Stat Table</a></li>
            <li><a class="dropdown-item" href="/espn/player_stats/wr">WR Stat Table</a></li>
            <li><a class="dropdown-item" href="/espn/player_stats/rb">RB Stat Table</a></li>
            <li><a class="dropdown-item" href="/espn/player_stats/te">TE Stat Table</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link active" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Team Stats
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">NFL Teams</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <h6>AFC East</h6>
            <div>
              <a href="/espn/team_stats/buf" class="list-group-item link-secondary">Buffalo Bills</a>
              <a href="/espn/team_stats/mia" class="list-group-item link-secondary">Miami Dolphins</a>
              <a href="/espn/team_stats/ne" class="list-group-item link-secondary">New England Patriots</a>
              <a href="/espn/team_stats/nyj" class="list-group-item link-secondary">New York Jets</a>
            </div>
          </div>
          <div class="col">
            <h6>AFC North</h6>
            <div>
              <a href="/espn/team_stats/bal" class="list-group-item link-secondary">Baltimore Ravens</a>
              <a href="/espn/team_stats/cin" class="list-group-item link-secondary">Cincinati Bengals</a>
              <a href="/espn/team_stats/cle" class="list-group-item link-secondary">Cleveland Browns</a>
              <a href="/espn/team_stats/pit" class="list-group-item link-secondary">Pittsburgh Steelers</a>
            </div>
          </div>
          <div class="col">
            <h6>AFC South</h6>
            <div>
              <a href="/espn/team_stats/hou" class="list-group-item link-secondary">Houston Texans</a>
              <a href="/espn/team_stats/ind" class="list-group-item link-secondary">Indianapolis Colts</a>
              <a href="/espn/team_stats/jax" class="list-group-item link-secondary">Jacksonville Jaguars</a>
              <a href="/espn/team_stats/ten" class="list-group-item link-secondary">Tennessee Titans</a>
            </div>
          </div>
          <div class="col">
            <h6>AFC West</h6>
            <div>
              <a href="/espn/team_stats/den" class="list-group-item link-secondary">Denver Broncos</a>
              <a href="/espn/team_stats/kc" class="list-group-item link-secondary">Kansas City Chiefs</a>
              <a href="/espn/team_stats/lv" class="list-group-item link-secondary">Las Vegas Raiders</a>
              <a href="/espn/team_stats/lac" class="list-group-item link-secondary">Los Angeles Chargers</a>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <h6>NFC East</h6>
            <div>
              <a href="/espn/team_stats/dal" class="list-group-item link-secondary">Dallas Cowboys</a>
              <a href="/espn/team_stats/nyg" class="list-group-item link-secondary">New York Giants</a>
              <a href="/espn/team_stats/phi" class="list-group-item link-secondary">Philadelphia Eagles</a>
              <a href="/espn/team_stats/wsh" class="list-group-item link-secondary">Washington Commanders</a>
            </div>
          </div>
          <div class="col">
            <h6>NFC North</h6>
            <div>
              <a href="/espn/team_stats/chi" class="list-group-item link-secondary">Chicago Bears</a>
              <a href="/espn/team_stats/det" class="list-group-item link-secondary">Detriot Lions</a>
              <a href="/espn/team_stats/gb" class="list-group-item link-secondary">Green Bay Packers</a>
              <a href="/espn/team_stats/min" class="list-group-item link-secondary">Minnesota Vikings</a>
            </div>
          </div>
          <div class="col">
            <h6>NFC South</h6>
            <div>
              <a href="/espn/team_stats/atl" class="list-group-item link-secondary">Atlanta Falcons</a>
              <a href="/espn/team_stats/car" class="list-group-item link-secondary">Carolina Panthers</a>
              <a href="/espn/team_stats/no" class="list-group-item link-secondary">New Orleans Saints</a>
              <a href="/espn/team_stats/tb" class="list-group-item link-secondary">Tampa Bay Buccanears</a>
            </div>
          </div>
          <div class="col">
            <h6>NFC West</h6>
            <div>
              <a href="/espn/team_stats/ari" class="list-group-item link-secondary">Arizona Cardinals</a>
              <a href="/espn/team_stats/lar" class="list-group-item link-secondary">Los Angeles Rams</a>
              <a href="/espn/team_stats/sf" class="list-group-item link-secondary">San Fransico 49ers</a>
              <a href="/espn/team_stats/sea" class="list-group-item link-secondary">Seattle Seahawks</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>